.how {
  min-height: 100vh;
  background: #000;
  color: #fff;
  padding: 80px 0;
}

.timeline {
  width: 80%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  background: linear-gradient(
    to top,
    rgba(9, 40, 55, 1),
    rgba(25, 113, 157, 1)
  );
  transform: translateX(-50%);
}

.timelineItem {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.content,
.icon {
  width: 50%;
}

.content h4 {
  font-size: 22px;
  margin-bottom: 10px;
}

.content p {
  opacity: 0.8;
  line-height: 1.6;
}


.icon {
  display: flex;
  align-items: center;
}

.icon img {
  width: 80px;
  height: auto;
}

/* dot */
.dot {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #000;
  border: 2px solid #2fa4ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2fa4ff;
  font-weight: bold;
}

/* right side */
.right {
  flex-direction: row;
}

.right .content {
  text-align: right;
  padding-right: 60px;
}

.right .icon {
  padding-left: 60px;
}
.left .icon {
  padding-left: 380px;
}

/* left side */
.left {
  flex-direction: row-reverse;
}

.left .content {
  text-align: left;
  padding-left: 60px;
}

.left .icon {
  padding-right: 60px;
}
