body {
  background-color: #000;
  color: #fff;
}
.mainTitle {
  background: linear-gradient(90deg, rgba(9, 40, 55, 1), rgba(25, 113, 157, 1));
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
  font-weight: 700;
  background-clip: text;
  color: transparent;
}
.glass-btn,
.links li.active {
  padding: 12px 36px;
  border-radius: 999px;
  background: linear-gradient(180deg, #1c1c1c 0%, #0d0d0d 100%);
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, 0.15);
  cursor: pointer;
  position: relative;
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2),
    inset 0 -1px 1px rgba(0, 0, 0, 0.8), 0 8px 25px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
}

.glass-btn:hover {
  transform: translateY(-2px);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3),
    inset 0 -1px 1px rgba(0, 0, 0, 0.9), 0 12px 30px rgba(0, 0, 0, 0.9);
}

.glass-btn:active {
  transform: translateY(0);
}
