.benefits {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 40px;
  background-color: #000;
  justify-content: center;
}

.card {
  background: #000;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 32px;
  max-width: 420px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.03),
    0 20px 40px rgba(0, 0, 0, 0.8);
  transition: 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card:nth-last-child(1),
.card:nth-last-child(2) {
  justify-self: center;
}
@media (max-width: 992px) {
  .benefits {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 576px) {
  .benefits {
    grid-template-columns: 1fr;
  }
}